5 pts Clean your dataset to turn categorical values into numerical ones. One-hot encoding is likely the answer, but it depends on the dataset. Your data may have ordinal columns, for example where one-hot encoding is not as appropriate.

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split


credit_df = pd.read_csv('Credit_card.csv')

numerical_columns = ['Ind_ID','CHILDREN','Annual_income','Birthday_count','Employed_days','Mobile_phone','Work_Phone','Phone','EMAIL_ID','Family_Members']
categorical_columns = ['GENDER','Car_Owner','Propert_Owner','Type_Income','EDUCATION','Marital_status','Housing_type','Type_Occupation']

encoded_credit_df = credit_df.drop(numerical_columns, axis=1)

encoded_credit_df = pd.get_dummies(credit_df, columns = categorical_columns,dtype=int)

encoded_credit_df.head(20)


# Normalizatization
from sklearn.preprocessing import MinMaxScaler

num_columns_normalize = ['CHILDREN', 'Annual_income', 'Birthday_count', 'Employed_days', 'Mobile_phone', 'Work_Phone', 'Phone', 'EMAIL_ID', 'Family_Members']


num_data = encoded_credit_df[num_columns_normalize]


scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(num_data)


encoded_credit_df[num_columns_normalize] = scaled_data

encoded_credit_df.head(20)

,Ind_ID,CHILDREN,Annual_income,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Family_Members,...,Type_Occupation_Laborers,Type_Occupation_Low-skill Laborers,Type_Occupation_Managers,Type_Occupation_Medicine staff,Type_Occupation_Private service staff,Type_Occupation_Realty agents,Type_Occupation_Sales staff,Type_Occupation_Secretaries,Type_Occupation_Security staff,Type_Occupation_Waiters/barmen staff
0,5008827,0.000000,0.094891,0.358100,1.000000,0.0,0.0,0.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
1,5009744,0.000000,0.182482,0.660577,0.037621,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
2,5009746,0.000000,0.182482,NaN,0.037621,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
3,5009749,0.000000,NaN,0.660577,0.037621,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
4,5009752,0.000000,0.182482,0.660577,0.037621,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
5,5009753,0.000000,0.182482,0.660577,0.037621,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
6,5009754,0.000000,0.182482,0.660577,0.037621,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
7,5009894,0.000000,0.094891,0.163100,1.000000,0.0,0.0,0.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
8,5010864,0.071429,0.270073,0.392843,0.037379,0.0,0.0,1.0,1.0,0.142857,...,0,0,0,0,0,0,0,0,0,0
9,5010868,0.071429,0.270073,0.392843,0.037379,0.0,0.0,1.0,1.0,0.142857,...,0,0,0,0,0,0,0,0,0,0
10,5010869,0.071429,0.270073,0.392843,0.037379,0.0,0.0,1.0,1.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
11,5018498,0.000000,0.036496,0.347776,0.036527,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
12,5018501,0.000000,NaN,0.347776,0.036527,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
13,5018503,0.000000,0.036496,0.347776,0.036527,0.0,1.0,1.0,0.0,0.071429,...,0,0,0,0,0,0,0,0,0,0
14,5021303,0.071429,0.284672,0.930282,0.036761,0.0,0.0,0.0,1.0,0.142857,...,0,0,0,0,0,0,0,0,0,0
15,5021310,0.000000,0.153285,0.466910,0.038511,0.0,0.0,0.0,0.0,0.071429,...,1,0,0,0,0,0,0,0,0,0
16,5021314,0.000000,0.153285,0.466910,0.038511,0.0,0.0,0.0,0.0,0.071429,...,1,0,0,0,0,0,0,0,0,0
17,5021430,0.000000,0.059854,0.350270,0.032665,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,0,1,0,0,0
18,5021431,0.000000,0.059854,0.350270,0.032665,0.0,0.0,0.0,0.0,0.000000,...,0,0,0,0,0,0,1,0,0,0
19,5021998,0.000000,0.036496,0.352822,0.034838,0.0,0.0,0.0,1.0,0.071429,...,0,0,0,0,0,0,0,0,0,0

(3 pts) Perform univariate linear regression on the dataset. Select your variable to predict. How well did this model perform? Is this a good approach for this dataset? Why or why not?

In [34]:
# Variable to predict: label

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

label_df = pd.read_csv('Credit_card_label.csv')

merged_df = pd.concat([encoded_credit_df, label_df], axis=1)

merged_df = merged_df.dropna()

X = merged_df.drop('label',axis = 1)
y = merged_df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=32)
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)
y_pred = regression_model.predict(X_test)
y_pred

acc = regression_model.score(X_test, y_test)
print(acc)
# correlation = encoded_credit_df.corr()
# sns.heatmap(correlation, annot=True)

# This model did not perform very well. This is not a good approach for this dataset because the outcome is binary.
# Performance before normalization: 0.07866360772622127
# Performance after normalization: -.1408

-0.14087956791571354

(8 pts) Perform KNN on this dataset. As part of this, write a function that selects the optimal value of k. How well did this model perform?

In [48]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV


def optimal_k_value(X_train, y_train, k_values):
   
    grid = {'n_neighbors': k_values}
    
    knn = KNeighborsClassifier()
    
    search = GridSearchCV(knn, grid)
    search.fit(X_train, y_train)
    
    optimal_k = search.best_params_['n_neighbors']
    
    return optimal_k

X = merged_df.drop('label', axis=1)
y = merged_df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=32)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

optimal_k = optimal_k_value(X_train, y_train, [1, 3, 5, 7, 9, 11, 13])

knn = KNeighborsClassifier(n_neighbors=optimal_k)
knn.fit(X_train_scaled, y_train)
y_pred = knn.predict(X_test_scaled)


def output_calc(knn, X_test_scaled, y_test):
    accuracy = knn.score(X_test_scaled, y_test)
    print("Accuracy:", accuracy)
    print("Optimal K value:", optimal_k)

accuracy = output_calc(knn, X_test_scaled, y_test)



# accuracy = knn.score(X_test_scaled, y_test)
# print("Accuracy:", accuracy)
# print("Optimal K value:",optimal_k)

# This model performed well.
# Performance before normalization: .8847 accuracy
# Performance after normalization: .8847

Accuracy: 0.88470066518847
Optimal K value: 11

(6 pts) Work with your dataset to perform logistic regression. How well did this perform?

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = merged_df.drop('label', axis=1)
y = merged_df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32, stratify=y)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

regression = LogisticRegression(random_state=32).fit(X_train, y_train)
y_predicted = regression.predict(X_test)

accuracy = regression.score(X_test, y_test)
print("Accuracy:", accuracy)

# Logistic Regression performed very well.
# Performance before normalizaiton: 0.8903654485049833
# Performance after normalization: 0.8870431893687708

Accuracy: 0.8870431893687708

(3 pts) Perform normalization on your dataset. Does it change the performance for 2-4? What is the best measure of performance for your dataset (accuracy or something else) and why?

For 2 and 4, performing normalization on my dataset made my models lowered the performance by a small amoubt. Performing normalization did nothing to my KNN model. The best measure of performance for my dataset is recall because in the case of loan approving, it is better for the company to deny someone that should be approved for the loan than accept someone who shouldn't be approved.