5 pts Clean your dataset to turn categorical values into numerical ones. One-hot encoding is likely the answer, but it depends on the dataset. Your data may have ordinal columns, for example where one-hot encoding is not as appropriate.

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

credit_df = pd.read_csv('Credit_card.csv')

numerical_columns = ['Ind_ID','CHILDREN','Annual_income','Birthday_count','Employed_days','Mobile_phone','Work_Phone','Phone','EMAIL_ID','Family_Members']
categorical_columns = ['GENDER','Car_Owner','Propert_Owner','Type_Income','EDUCATION','Marital_status','Housing_type','Type_Occupation']

encoded_credit_df = credit_df.drop(numerical_columns, axis=1)

encoded_credit_df = pd.get_dummies(credit_df, columns = categorical_columns,dtype=int)

encoded_credit_df.head(20)

,Ind_ID,CHILDREN,Annual_income,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Family_Members,...,Type_Occupation_Laborers,Type_Occupation_Low-skill Laborers,Type_Occupation_Managers,Type_Occupation_Medicine staff,Type_Occupation_Private service staff,Type_Occupation_Realty agents,Type_Occupation_Sales staff,Type_Occupation_Secretaries,Type_Occupation_Security staff,Type_Occupation_Waiters/barmen staff
0,5008827,0,180000.0,-18772.0,365243,1,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,5009744,0,315000.0,-13557.0,-586,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
2,5009746,0,315000.0,NaN,-586,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
3,5009749,0,NaN,-13557.0,-586,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
4,5009752,0,315000.0,-13557.0,-586,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
5,5009753,0,315000.0,-13557.0,-586,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
6,5009754,0,315000.0,-13557.0,-586,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
7,5009894,0,180000.0,-22134.0,365243,1,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
8,5010864,1,450000.0,-18173.0,-678,1,0,1,1,3,...,0,0,0,0,0,0,0,0,0,0
9,5010868,1,450000.0,-18173.0,-678,1,0,1,1,3,...,0,0,0,0,0,0,0,0,0,0
10,5010869,1,450000.0,-18173.0,-678,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
11,5018498,0,90000.0,-18950.0,-1002,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
12,5018501,0,NaN,-18950.0,-1002,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
13,5018503,0,90000.0,-18950.0,-1002,1,1,1,0,2,...,0,0,0,0,0,0,0,0,0,0
14,5021303,1,472500.0,-8907.0,-913,1,0,0,1,3,...,0,0,0,0,0,0,0,0,0,0
15,5021310,0,270000.0,-16896.0,-248,1,0,0,0,2,...,1,0,0,0,0,0,0,0,0,0
16,5021314,0,270000.0,-16896.0,-248,1,0,0,0,2,...,1,0,0,0,0,0,0,0,0,0
17,5021430,0,126000.0,-18907.0,-2470,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
18,5021431,0,126000.0,-18907.0,-2470,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
19,5021998,0,90000.0,-18863.0,-1644,1,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

(3 pts) Perform univariate linear regression on the dataset. Select your variable to predict. How well did this model perform? Is this a good approach for this dataset? Why or why not?

In [38]:
# Variable to predict: label

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

label_df = pd.read_csv('Credit_card_label.csv')

merged_df = pd.concat([encoded_credit_df, label_df], axis=1)

merged_df = merged_df.dropna()

X = merged_df.drop('label',axis = 1)
y = merged_df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=32)
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)
y_pred = regression_model.predict(X_test)
y_pred

acc = regression_model.score(X_test, y_test)
print(acc)
# correlation = encoded_credit_df.corr()
# sns.heatmap(correlation, annot=True)

# This model did not perform very well. This is not a good approach for this dataset because the outcome is binary.
# Performance before normalization: 0.07866360772622127
# Performance after normalization:

0.07866360772622127

(8 pts) Perform KNN on this dataset. As part of this, write a function that selects the optimal value of k. How well did this model perform?

In [39]:
from sklearn.neighbors import KNeighborsClassifier

X = merged_df.drop('label',axis = 1)
y = merged_df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=32)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

k = 5

knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train_scaled, y_train)
y_pred = knn.predict(X_test_scaled)

accuracy = knn.score(X_test,y_test)
print(accuracy)

# Function that selects the optimal value of k

def optimal_k():

0.8913525498891353

C:\Users\aga20\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

(6 pts) Work with your dataset to perform logistic regression. How well did this perform?

In [26]:
from sklearn.linear_model import LogisticRegression

X = merged_df.drop('label',axis = 1)
y = merged_df['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=32,stratify=y)

# Standardize 
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

regression = LogisticRegression(random_state=32).fit(X_train, y_train)
y_predicted = regression.predict(X_test)

y_predicted

regression.score(X_test, y_test)

# Logistic Regression performed very well.
# Performance before normalizaiton: 0.8903654485049833
# Performance after normalization:

0.8903654485049833

(3 pts) Perform normalization on your dataset. Does it change the performance for 2-4? What is the best measure of performance for your dataset (accuracy or something else) and why?

Extra credit (3 pts): Use type hints in your functions to make sure you are using the right types when you call the functions. https://realpython.com/lessons/type-hinting/Links to an external site.